$color-size: 20px;

.colorpicker {
  padding: 10px;
}

.color {
  display: inline-block;
  width: $color-size;
  height: $color-size;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-right: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px $clr-lighter;
  }
}
