
#theme-builder {

  .chart-container {
    margin-bottom: 20px;
    padding: 15px;
    padding-top: 0;

    h3 {
      margin-top: 20px;
      font-size: 1.5em;
    }
  }

  .ec-container {
    padding: 0 15px 30px 15px;
  }

  .ec-panel {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
  }
}