$clr-primary:        #293c55;
$clr-primary-light:  #849dbe;
$clr-primary-dark:   #162436;
$clr-primary-darker: #0e151f;

$clr-secondary:      #a9334c;
$clr-thirdary:       #61a0a8;

$clr-contrast:       #e43c59;
$clr-contrast-dark:  #bf465b;

$clr-darkest:        #000;
$clr-darker:         #333;
$clr-dark:           #666;
$clr-light:          #999;
$clr-lighter:        #eee;
$clr-lightest:       #f9f9f9;

$clr-border:         #eee;
$clr-border-dark:    #ddd;
