body {
  overflow-x: hidden;
}



a {
  cursor: pointer;
  color: $clr-thirdary;
}



.btn {
  border-radius: 0;
  transition: 0.5s;
}

.btn-default {
  border-color: $clr-border;

  &:hover, &:active, &:focus, &.active {
    border-color: $clr-border-dark;
    background-color: $clr-lighter;
  }
}

.btn-primary {
  border-color: darken($clr-thirdary, 5%);
  background-color: $clr-thirdary;

  &:hover, &:active, &:focus, &.active {
    border-color: darken($clr-thirdary, 10%);
    background-color: darken($clr-thirdary, 5%);
  }
}
