body {
  overflow-x: hidden;
}



a {
  cursor: pointer;
}



.btn {
  border-radius: 0;
  transition: 0.5s;
}

.btn-default {
  border-color: $clr-border;

  &:hover, &:active, &:focus, &.active {
    border-color: $clr-border-dark;
    background-color: $clr-lighter;
  }
}

.btn-primary {
  border-color: $clr-primary;
  background-color: lighten($clr-primary, 10%);

  &:hover, &:active, &:focus, &.active {
    border-color: $clr-primary;
    background-color: lighten($clr-primary, 20%);
  }
}
