<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>echarts theme builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div>
      <div class="container-fluid navbar-default">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#echarts-navbar-collapse" aria-expanded="false" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/index.html" class="navbar-brand">
            <img src="http://echarts.baidu.com/images/logo.png" alt="echarts logo" class="navbar-logo"/>
          </a>
          <a class="nav-title" href="#">主题在线构建工具</a>
        </div>
        <div id="echarts-navbar-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="nav-index"><a href="index.html">首页</a></li>
            <li id="nav-doc" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">文档<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/tutorial.html">教程</a></li>
                <li><a href="/api.html">API</a></li>
                <li><a href="/option.html">配置项手册</a></li>
                <li><a href="/changelog.html">Changelog</a></li>
              </ul>
            </li>
            <li id="nav-examples"><a href="examples.html">实例</a></li>
            <li id="nav-download" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">下载<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/download.html">下载</a></li>
                <li><a href="/builder.html">在线构建</a></li>
                <li><a href="/download-map.html">地图</a></li>
                <li><a href="/download-theme.html">主题</a></li>
              </ul>
            </li>
            <li id="nav-github"><a href="https://github.com/ecomfe/echarts" target="_blank">GitHub</a></li>
            <li id="nav-2" class="0"><a href="http://echarts.baidu.com/echarts2/">2.0</a></li>
          </ul>
        </div>
      </div><!-- end of navbar -->

      <div class="container-fluid" id="content">
        <div class="row">
          <div class="col-md-3 col-sm-4 theme-config">

            <div id="acc-axis" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-port" href="#acc-port-body">功能</a>
                  </h4>
                </div>
                <div id="acc-port-body" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="port-row">
                      <input type="file" @change="importFileChanged" id="input-file" style="display: none" />
                      <a class="btn btn-primary" @click="useTheme()">生成主题</a>
                      <a class="btn btn-default" @click="importJson()">导入</a>
                      <a class="btn btn-default" @click="exportJson()">导出</a>
                      <a data-toggle="modal" data-target="#download-modal">
                        <span class="glyphicon glyphicon-question-sign"></span>
                      </a>
                    </div>
                    <div class="port-row">
                      <a class="btn btn-default" @click="updateCharts(true)">刷新</a>
                      <a class="btn btn-default" @click="newTheme()">复原</a>
                    </div>
                    <form class="form form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">系列数量</label>
                        <div class="col-sm-9">
                          <input @change="seriesCntChanges()" type="number" class="form-control" v-model="theme.seriesCnt" />
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-port -->

            <div id="acc-theme" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-theme" href="#acc-theme-body">整体配置</a>
                  </h4>
                </div>
                <div id="acc-theme-body" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">背景</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.backgroundColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">标题</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.titleColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">副标题</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.subtitleColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">文字</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.textColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">标签文字</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.markTextColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group theme-group">
                        <label class="col-sm-3 control-label">主题</label>
                        <div v-for="color in theme.color" track-by="$index" :class="{'col-sm-offset-3':$index>0}" class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="color" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                        <div class="theme-color-control col-sm-9 col-sm-offset-3">
                          <a v-on:click="addThemeColor()">增加</a>
                          <a v-on:click="removeThemeColor()" v-show="theme.color.length > 1">减少</a>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">描边</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.borderColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">描边粗细</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.borderWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label" title="visualMap">视觉映射</label>
                        </div>
                        <div v-show="!theme.visualMapUseTheme" v-for="color in theme.visualMapColor" track-by="$index" class="col-sm-9" :class="{'col-sm-offset-3':$index>0}">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="color" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                        <div v-show="!theme.visualMapUseTheme" class="theme-color-control col-sm-9 col-sm-offset-3">
                          <a v-on:click="addVisualMapColor()">增加</a>
                          <a v-on:click="removeVisualMapColor()" v-show="theme.visualMapColor.length > 2">减少</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-theme -->

            <div id="acc-axis" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-axis" href="#acc-axis-body">坐标轴</a>
                  </h4>
                </div>
                <div id="acc-axis-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-sm-12">
                          <input v-model="theme.axisSeperateSetting" @change="axisSeperateSettingChanges()" type="checkbox" id="axisSeperateSetting" />
                          <label for="axisSeperateSetting" class="control-label">为不同类型坐标轴分别设置</label>
                        </div>
                      </div>
                      <div v-for="axis in theme.axis" v-if="$index > 0 || !theme.axisSeperateSetting">
                        <h5 v-if="axis.type !== 'all'">{{ axis.name }}</h5>
                        <div class="form-group">
                          <div class="col-sm-3">
                            <input type="checkbox" v-model="axis.axisLineShow" v-on:change="updateCharts()" id="axisLineShow" />
                            <label for="axisLineShow" class="control-label" title="axisLine">轴线</label>
                          </div>
                          <div class="col-sm-9">
                            <div class="input-group colorpicker-component">
                              <input type="text" v-model="axis.axisLineColor" class="form-control" />
                              <span class="input-group-addon"><i></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-3">
                            <input type="checkbox" v-model="axis.axisTickShow" v-on:change="updateCharts()" id="axisTickShow" />
                            <label for="axisTickShow" class="control-label" title="axisTick">刻度</label>
                          </div>
                          <div class="col-sm-9">
                            <div class="input-group colorpicker-component">
                              <input type="text" v-model="axis.axisTickColor" class="form-control" />
                              <span class="input-group-addon"><i></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-3">
                            <input type="checkbox" v-model="axis.splitLineShow" v-on:change="updateCharts()" id="splitLineShow" />
                            <label for="splitLineShow" class="control-label" title="splitLine">网格</label>
                          </div>
                          <div class="col-sm-9">
                            <div class="input-group colorpicker-component">
                              <input type="text" v-model="axis.splitLineColor" class="form-control" />
                              <span class="input-group-addon"><i></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-3">
                            <input type="checkbox" v-model="axis.splitAreaShow" v-on:change="updateCharts()" id="splitAreaShow" />
                            <label for="splitAreaShow" class="control-label" title="splitArea">填充</label>
                          </div>
                          <div class="col-sm-9">
                            <div class="input-group colorpicker-component">
                              <input type="text" v-model="axis.splitAreaColor" class="form-control" />
                              <span class="input-group-addon"><i></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-3">
                            <input type="checkbox" v-model="axis.axisLabelShow" v-on:change="updateCharts()" id="axisLabelShow" />
                            <label for="axisLabelShow" class="control-label">文字</label>
                          </div>
                          <div class="col-sm-9">
                            <div class="input-group colorpicker-component">
                              <input type="text" v-model="axis.axisLabelColor" class="form-control" />
                              <span class="input-group-addon"><i></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-axis -->

            <div id="acc-tooltip" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-toolbox" href="#acc-toolbox-body" title="toolbox">工具箱</a>
                  </h4>
                </div>
                <div id="acc-toolbox-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label for="toolboxColor" class="control-label">图标</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.toolboxColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label for="toolboxEmpasisColor" class="control-label">悬停</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.toolboxEmpasisColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-toolbox -->

            <div id="acc-tooltip" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-tooltip" href="#acc-tooltip-body" title="tooltip">提示框</a>
                  </h4>
                </div>
                <div id="acc-tooltip-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">指示线</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.tooltipAxisColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">宽度</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.tooltipAxisWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-tooltip -->

            <div id="acc-timeline" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-timeline" href="#acc-timeline-body" title="tooltip">时间轴</a>
                  </h4>
                </div>
                <div id="acc-timeline-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">标记</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineItemColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">标记高亮</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineItemColorE" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">标记选中</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineCheckColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">标记选中描边</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineCheckBorderColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">标记描边</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.timelineItemBorderWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">主轴</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineLineColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">主轴宽度</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.timelineLineWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">控件</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineItemColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">控件填充</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineControlColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">控件描边</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineControlBorderColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">控件描边宽度</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.timelineControlBorderWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">文字</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.timelineLabelColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-timeline -->

            <div id="acc-datazoom" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-datazoom" href="#acc-datazoom-body" title="tooltip">数据缩放</a>
                  </h4>
                </div>
                <div id="acc-datazoom-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">背景</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.datazoomBackgroundColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">数据背景</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.datazoomDataColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">填充</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.datazoomFillColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">控制手柄</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.datazoomHandleColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">控制手柄大小</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.datazoomHandleWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">文字</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.datazoomLabelColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-datazoom -->

            <div id="acc-line" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-line" href="#acc-line-body" title="line">折线图</a>
                  </h4>
                </div>
                <div id="acc-line-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">线条宽度</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.lineWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">图形大小</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.symbolSize" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">图形形状</label>
                        </div>
                        <div class="col-sm-12">
                          <div class="row">
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolCircle" value="circle" @change="updateSymbol('circle')" />
                              <label for="symbolCircle">圆形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolCircleE" value="circle" checked @change="updateSymbol('emptyCircle')" />
                              <label for="symbolCircleE">空心圆形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolRect" value="rect" @change="updateSymbol('rect')" />
                              <label for="symbolRect">方形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolRectE" value="rect" @change="updateSymbol('emptyRect')" />
                              <label for="symbolRectE">空心方形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolRoundRect" value="roundRect" @change="updateSymbol('roundRect')" />
                              <label for="symbolRoundRect">圆角矩形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolRoundRectE" value="roundRect" @change="updateSymbol('emptyRoundRect')" />
                              <label for="symbolRoundRectE">空心圆角矩形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolTri" value="triangle" @change="updateSymbol('triangle')" />
                              <label for="symbolTri">三角形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolTriE" value="triangle" @change="updateSymbol('emptyTriangle')" />
                              <label for="symbolTriE">空心三角形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolDiamond" value="diamond" @change="updateSymbol('diamond')" />
                              <label for="symbolDiamond">菱形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolDiamondE" value="diamond" @change="updateSymbol('emptyDiamond')" />
                              <label for="symbolDiamondE">空心菱形</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolCircle" value="pin" @change="updateSymbol('pin')" />
                              <label for="symbolPin">水滴</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolCircleE" value="pin" @change="updateSymbol('emptyPin')" />
                              <label for="symbolPinE">空心水滴</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolArrow" value="arrow" @change="updateSymbol('arrow')" />
                              <label for="symbolArrowE">箭头</label>
                            </div>
                            <div class="col-sm-6">
                              <input type="radio" name="symbol" id="symbolArrowE" value="arrow" @change="updateSymbol('emptyArrow')" />
                              <label for="symbolArrowE">空心箭头</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <input type="checkbox" v-model="theme.lineSmooth" v-on:change="updateCharts()" id="lineSmooth" />
                          <label for="lineSmooth" class="control-label" title="smooth">平滑曲线</label>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-line -->

            <div id="acc-k" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-k" href="#acc-k-body" title="k">K 线图</a>
                  </h4>
                </div>
                <div id="acc-k-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">阳线填充</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.kColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">阴线填充</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.kColor0" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">阳线描边</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.kBorderColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">阴线描边</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.kBorderColor0" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">描边宽度</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.kBorderWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-k -->

            <div id="acc-graph" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-graph" href="#acc-graph-body" title="graph">图</a>
                  </h4>
                </div>
                <div id="acc-graph-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">连线</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.graphLineColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">连线宽度</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.graphLineWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-graph -->

            <div id="acc-map" class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#acc-map" href="#acc-map-body" title="map">地图</a>
                  </h4>
                </div>
                <div id="acc-map-body" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form class="form-horizontal">
                      <h5>默认状态</h5>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">文字</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.mapLabelColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">填充</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.mapAreaColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">边框</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.mapBorderColor" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">边框宽度</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.mapBorderWidth" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <h5>高亮状态</h5>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">文字</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.mapLabelColorE" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">填充</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.mapAreaColorE" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-3 control-label">边框</label>
                        <div class="col-sm-9">
                          <div class="input-group colorpicker-component">
                            <input type="text" v-model="theme.mapBorderColorE" class="form-control" />
                            <span class="input-group-addon"><i></i></span>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <label class="control-label">边框宽度</label>
                        </div>
                        <div class="col-sm-9">
                          <div class="input-group">
                            <input type="text" v-on:change="updateCharts()" v-model="theme.mapBorderWidthE" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div><!-- end of acc-map -->

          </div><!-- end of left -->

          <div class="col-md-9 col-sm-8 chart-container">
            <div class="row">
              <div v-for="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]" class="ec-container col-md-6">
                <div class="ec-panel"></div>
              </div>
            </div>
          </div><!-- end of chart panel -->

        </div>

        <div class="modal fade" id="download-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">帮助</h4>
              </div>
              <div class="modal-body">
                <h4>主题在线构建工具是什么？</h4>
                <p>“主题”是 ECharts 图表的风格抽象，用于统一多个图表的风格样式。使用主题在线构建工具，可以快速直观地生成主题配置文件，并在 ECharts 中使用自定义的主题样式。</p>
                <p>ECharts 内置了 <code>default</code>、<code>infographic</code>、<code>shine</code>、<code>roma</code>、<code>macarons</code>、<code>vintage</code> 等主题，可直接使用，无需下载并注册。</p>

                <h4>开始使用新主题</h4>
                <ol>
                  <li><a @click="useTheme()">点此生成</a>刚刚创建主题的 JSON 文件；</li>
                  <li>读取该 JSON 文件，并使用 <code>obj = JSON.parse(data)</code> 将其转换成对象；</li>
                  <li>调用 <code>echarts.registerTheme('customed', obj)</code> 注册主题，其中 <code>'customed'</code> 是你给该主题起的名字；</li>
                  <li>使用 <code>echarts.init(dom, 'customed')</code> 创建图表，第二个参数即为刚才注册的主题名字。</li>
                </ol>
                <p>在此主题的基础上，你仍然可以使用 <code>setOption</code> 覆盖或设置主题样式。</p>

                <h4>导入、导出</h4>
                <p>为了便于二次修改，我们的主题构建工具支持导入、导出配置项，导出的 <code>*.edb</code> 仅用于在本工具中导入使用，而不能直接作为主题在 ECharts 中注册。</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              </div>
            </div>
          </div>
        </div><!-- end of modal -->
      </div>

    </div>

    <script src="vendors/jquery.min.js"></script>
    <script src="vendors/bootstrap.min.js"></script>
    <script src="vendors/bootstrap-colorpicker.min.js"></script>
    <script src="vendors/vue.min.js"></script>
    <script src="vendors/echarts.min.js"></script>
    <script src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>

    <script src="scripts/options.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
